/* Import Google font - Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  /* color: black; */
}

.card-body {
  background-color: #BBBFD6;
}

.weather-header {
  background-color: #97A1DB;
}